    <div class="container">
        <div class="row mb-3">
            <div class="col-6">
                <h3>Banner Management</h3>
            </div>
            <div class="col-6">
                <div class="d-flex justify-content-end">
                    <a href="/admin/add-banner" class="btn btn-success">Add New Banner</a>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-xl-6">
                <form action="/admin/banners" method="GET">
                    <input type="search" name="search" value="<%= search %>" placeholder="Search banners...">
                    <button type="submit" class="btn btn-dark">Search</button>
                    <a href="/admin/banners" class="btn btn-outline-dark">Clear</a>
                </form>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <table class="table table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(locals.banners.length>0){ %>
                            <% for(let i=0;i< banners.length;i++){ %>
                            <tr>
                                <td>
                                    <img src="<%= banners[i].image %>" style="height: 2rem; width: 3rem;" alt="">
                                </td>
                                <td><%= banners[i].title %></td>
                                <td><%= banners[i].description %></td>
                                <td><% if(banners[i].startDate < Date.now() && banners[i].endDate > Date.now()){ %>
                                    <p class="text-success">Active</p>
                                    <% }else{%>
                                    <p class="text-danger">Not Active</p>
                                    <% } %>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-danger" onclick="deleteBanner('<%= banners[i]._id %>')">Delete</button>
                                    <a href="/admin/edit-banner/<%= banners[i]._id %>" class="btn btn-outline-dark">Edit</a>
                                </td>

                            </tr>
                            <% } %>
                        <% }else{ %>
                            <tr>
                                <td colspan="5">No banners found</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col d-flex justify-content-center">
                 <% if (totalPages > 1) { %>
                    <div class="pagination">
                    <% if (currentPage > 1) { %>
                        <a href="/admin/banners?page=<%= currentPage - 1 %>&search=<%= search %>" class="btn btn-outline-dark">Previous</a>
                    <% } %>

                    <% for(let i=1; i <=totalPages; i++) { %>
                        <a href="/admin/banners?page=<%= i %>&search=<%= search %>" class=" btn <%= currentPage === i ? 'btn-dark' : 'btn-outline-danger' %>">
                        <%= i %>
                        </a>
                    <% } %>

                    <% if (currentPage < totalPages) { %>
                        <a href="/admin/banners?page=<%= currentPage + 1 %>&search=<%= search %>" class="btn btn-outline-dark">Next</a>
                    <% } %>
                    </div>
                <% } %>
            </div>
        </div>
    </div>

    <script>
       async function deleteBanner(bannerId){
        console.log("deleteBanner is started")
            const result=await Swal.fire({
                title:"Delete this banner ?",
                icon:'warning',
                showCancelButton:true,
                confirmButtonText:'Yes',
                cancelButtonText:'Cancel'
            })
            
            if(result.isConfirmed){
                fetch(`/admin/delete-banner?id=${bannerId}`,{
                    method:'get',
                }).then(
                    window.location.reload()
                )
            }
        }
    </script>