<div class="container">
  <div class="row my-3">
    <h3>Customer Management</h3>
  </div>

  <div class="row mb-3">
    <div class="col-xl-6">
      <form action="" method="get">
        <div class="d-flex align-items-center gap-3">
          <label for="search">Search:</label>
          <input type="search" class="form-control" name="search" value="<%= search.length>0 ? search : '' %>" id="search" placeholder="Search username or email">
          <button class="btn btn-dark" type="submit">Search</button>
          <a href="/admin/users" class="btn btn-outline-dark">Clear</a>
      </div>
    </form>
    </div>
  </div>

  <div class="row mb-3">
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <% for(let i=0;i< data.length;i++){ %>
          <tr>
            <td><%=data[i].name%></td>
            <td><%=data[i].email%></td>
            <td><%=data[i].phone || 'N/A'%></td>
            <td>
              <button class="<%= data[i].isBlocked ? 'btn btn-success' : 'btn btn-danger' %>"
                      id="user-<%= data[i]._id %>"
                      data-user-id="<%= data[i]._id %>"
                      data-is-blocked="<%= data[i].isBlocked %>"
                      onclick="blockOrUnblockUser(this)">
                <%= data[i].isBlocked ? "Unblock" : "Block" %>
              </button>
            </td>
          </tr>
        <%}%>
      </tbody>
    </table>
  </div>

  <div class="row mb-3">
    <div class="d-flex justify-content-center gap-3">
      <% if (currentPage > 1) { %>
          <a href="/admin/users?page=<%= currentPage - 1 %>&search=<%= search %>" class="btn btn-light">Previous</a>
      <% } %>

      <% for(let i=1; i <=totalPages; i++) { %>
          <a href="/admin/users?page=<%= i %>&search=<%= search %>" class="<%= currentPage === i ? 'btn btn-dark' : 'btn btn-outline-dark' %>">
              <%= i %>
          </a>
      <% } %>

      <% if (currentPage < totalPages) { %>
          <a href="/admin/users?page=<%= currentPage + 1 %>&search=<%= search %>" class="btn btn-light">Next</a>
      <% } %>
    </div>
  </div>
</div>

 <script>

  async function blockOrUnblockUser(button) {
    try {
     const userId=button.dataset.userId;
     const isBlocked=button.dataset.isBlocked==="true";
     const action=isBlocked ? 'unblock' : 'block';

     if(action==="block"){
      const result = await Swal.fire({
        title: `Are you sure you want to block this user?`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: `Yes, block them!`,
        cancelButtonText: 'Cancel',
       });

       if(result.isConfirmed){
        const response=await fetch('/admin/block-customer',{
          method:"post",
          headers:{
            'Content-Type':'application/json'
          },
          body:JSON.stringify({userId})
        });

        const data=await response.json();
        await Swal.fire("Done!",data.message,"success");
        if(data.success){
          // console.log("data success unblock")
          // const blockUnblockButton=document.getElementById(`user-${userId}`);
          // blockUnblockButton.textContent="Unblock";
          // blockUnblockButton.dataset.isBlocked=true;
          // blockUnblockButton.className="";
          // blockUnblockButton.classList.add('btn-success')
          location.reload()
        }
        
       } 
     }
     if(action==="unblock"){
      const result = await Swal.fire({
        title: `Are you sure you want to unblock this user?`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: `Yes, unblock them!`,
        cancelButtonText: 'Cancel',
       });

       if(result.isConfirmed){
        const response=await fetch('/admin/unblock-customer',{
          method:"post",
          headers:{
            'Content-Type':'application/json'
          },
          body:JSON.stringify({userId})
        });
        const data=await response.json();
        await Swal.fire("Done!",data.message,"success");

        if(data.success){
          // console.log("data success block")
          // const blockUnblockButton=document.getElementById(`user-${userId}`);
          // blockUnblockButton.textContent="Block";
          // blockUnblockButton.dataset.isBlocked=false;
          // blockUnblockButton.className="";
          // blockUnblockButton.classList.add('btn-danger');
          location.reload()
        }

       }
     }

    } catch (error) {
      console.log("error fetching:",error)
    }
  }
 </script>